html, body{
	margin: 0;
	padding: 0;
  background-color: #111111;
	color: #FFFFFF;
	font-size: 14px;
}

* {
	font-family: 'Roboto Mono', monospace;
	font-weight: lighter;
}

#container {
	position: fixed;
	padding: 0 0px 0 0px;
	top: 10%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: auto;
}

#header {
	z-index: 10;
	-webkit-box-shadow: 1px 1px 4px 0px #111;
	-moz-box-shadow: 1px 1px 4px 0px #111;
	box-shadow: 1px 1px 4px 0px #111;
	border-radius: 4px;
	background-color: #666666;
	margin: 4px;
	padding: 8px;
	border: 5px solid #666666;
}
#header h3 {
	padding-bottom: 5px;
}

#links {
	display: -moz-box;
	display: -webkit-box;
	width: 100%;
}

.linksbox {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	border-radius: 4px;
	margin: 4px;
	padding: 8px 8px 8px 8px;
	background-color: #666666;
	border: 5px solid #666666;
}


.linksbox a{
	display: block;
	text-decoration: none;
	font-weight: bold;
  padding: 0;
}

h3 {
	font-size: 14px;
	padding-bottom: 5px;
	margin-bottom: 0;
	margin-top: 0;
}

.cyan {color: #5c8cbc;}
.blue {color: #708ca4;}
.green {color: #4fa7a1;}
.pink {color: #8c6d94;}
.red {color: #bf535f;}
.gray {color: #B4B4B4;}
